<%- page, histories = page if page.is_a? Array%>
<%- histories.sort_by!(&:created_at) %>
<%= I18n.t "mailer.page_histories.the_page_you_are_watching_description", :page_title => page.title %>:
  <%= context_page_url(page.owner.name, page.name_url) %>

<%= render histories %>
