%meta{ name:"description", content:""}
%meta{ name:"keywords", content:""}
%meta{"http-equiv"=>"Content-Type", content:"application/xhtml+xml;charset=utf-8"}
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta(charset="UTF-8")
%meta(name="referrer" content="same-origin")
%link(rel="apple-touch-icon" href="/icon.png")
= favicon_link

/ begin styling
= stylesheet_link_tag(current_theme.stylesheet_url('screen'))
= stylesheet_link_tag('icon_png')
/ end styling

/ begin scripts
= javascript_include_tag :application
:javascript
  #{ localize_modalbox_strings }

  // Autocomplete caches results in sessionStorage.
  // After logging out, the session storage should be cleared.
  #{ "if(sessionStorage.length > 0) sessionStorage.clear();".html_safe unless logged_in? }

- if content_for?(:dom_loaded)
  :javascript
    document.observe("dom:loaded",function(){
      #{content_for(:dom_loaded)}
    });

/ end scripts

= csrf_meta_tag
- if context_banner_style || @content_for_style
  :css
    #{@content_for_style}
    #{context_banner_style}
%title
  =h html_title
=# call_hook :html_head
= yield :html_head

