
= pagination_links(@versions,
  renderer: ::LinkRenderer::Ajax,
  params: {controller: 'wiki/versions', wiki_id: @wiki.id, action: 'index'})

%ul.clickable
  - @versions.each do |version|
    %li{data: {wiki: { id:  @wiki.id, version: version}}}
      = render 'line_item', version: version
